<div class="container">
  <h1>Items Catalog</h1>

  <% if current_user && current_user.admin %>
    <%= link_to "Add Item", new_item_path, class: "btn btn-primary mb-3" %>
  <% end %>

  <div class="dropdown mb-3">
    <button class="btn btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <% if params[:category].blank? %>
        Choose Category
      <% else %>
        Category: <%= params[:category] %>
      <% end %>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% Category.all.each do |c| %>
        <%= link_to c.name, items_path(category: c.name), class: "dropdown-item" %>
      <% end %>
      <%= link_to "All Items", items_path, class: "dropdown-item" %>
    </div>
  </div>

  <% if @items.count == 0 %>
    <p>There are no items in this category</p>
  <% else %>

      <div class="row">
        <% @items.each do |item| %>
          <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item mb-3">
            <div class="card h-100">
              <a href="/items/<%= item.id %>">
                <%= image_tag item.item_img.url(:medium), class: "item-img" %>
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <%= link_to item.title, item_path(item) %>
                </h4>
                <p class="card-text"><%= truncate(strip_tags(item.description), length: 50) %></p>
                <p>$<%= item.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

  <% end %>

</div>